/* GLOBAL */

h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}






/* utility */

.pt-12 {
    padding-top: 20rem;
}

.mt-8 {
    margin-top: 8rem;
}




/* header */

.header_top_page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.sony_header_logo {
    width: 100px;
    padding-top: 1em;
    padding-bottom: 1em;    
}

.btn_search img {
    width: 2rem;
}



/* section 1 cover returnal */


.section1_cover {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    
    background-repeat: no-repeat;
    background-color: aquamarine;
    height: 700px;   
    max-width: 100%; 
}


.returnal_banner_logo {
    width: 500px;
}



/* section 2 - cards con immagini cover giochi */


.section_2 img {
    border-radius: 15px;
    border: 2px solid transparent;
}

.section_2 .card{
    border-radius: 15px;
    border: 2px solid blue;

}




/* section 3 - playstation 5 */


.img_playstation_thumb {
    max-width: 100%;
    height: auto;
}


/* section 4 -it takes two */

.section4_cover_img {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    height: 600px;
}