


/* utility */

/* .pt-12 {
    padding-top: 20rem;
} */





/* header */

.sony_header_logo {
    width: 100px;
    padding-top: 1em;
    padding-bottom: 1em;    
}



/* section 1 cover returnal */


.section1_cover {
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    
    background-repeat: no-repeat;
    background-color: aquamarine;
    height: 700px;   
    max-width: 100%; 
}


.returnal_banner_logo {
    width: 300px;
}



/* section 3 - playstation 5 */


.img_playstation_thumb {
    max-width: 100%;
    height: auto;
}


/* section 4 -it takes two */

.section4_cover_img {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
}